#title-1{
    color: #a2e7cd;
    background-color: darkgray;
}

.wrapper{
    background-color: lightgray;
}

.wrapper h1{
    font-weight: bold;
    font-size: 36px;
}

.padding-margins{
    text-align: center;
    border: 5px solid lightskyblue;
    margin: 20px 50px 20px 50px;
    padding: 20px 20px 20px 20px;
}

.background-1{
    background-image: url(../Assets/bgpattern.png);
    width: 500px;
    height: 200px;
    text-align: center;
}

.background-1 span{
    background: rgba(162, 231, 205, .5);
}